.green {
    color: #41A39B;
}

.red{
    color: #C65C75;
}

/*Header styles*/
.header_data {
    margin: 0 0 20px 0;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    background: #F3F3F4;
}
.header_data > div {
    width:140px;
    font-size: 20px;
    border-right: solid 1px  #C1C1C1;
    text-align: center;
}

.header_data >div>p{
    font-size: 10px;

}
/* END Header styles*/

/*Chart style*/
#chart-container {
    border: solid 3px  #C1C1C1;
    width:50%;
    height:400px;
    float:left;
    margin:0 10px;
}
/*END Chart style*/

/*Tables styles*/
.table {
    width:40% !important;
    float: left;
    margin: 0;
    border: solid 3px  #C1C1C1;
}
.table th {
    border: solid 0.2px grey;
    background: #F7F7F7;
    box-shadow: 2px 1px;
    padding: 0 !important;
    margin: 0;
}
.table body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table thead {
    font-size: 12px;
}
.table td {
    font-size: 12px;
}
/*END Tables styles*/
